<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <script>
      const promos = [
        `<strong>❤️ Do you like EasyAdmin?</strong> You (or your company) can now
      <a href="https://github.com/sponsors/javiereguiluz">sponsor EasyAdmin</a>
      to fund the development of new features. One-time or regular donations.`,
      `👋 If EasyAdmin is useful for you or your company, please consider
        <a href="https://github.com/sponsors/javiereguiluz">sponsoring me on GitHub</a>.`
      ];

      document.addEventListener('DOMContentLoaded', () => {
        const postListContainer = document.querySelector('.posts');
        const postContainer = document.querySelector('.post');
        if (null === postListContainer && null === postContainer) {
          return;
        }

        const selectedPromo = promos[Math.floor(Math.random() * promos.length)];
        var sponsorElement = document.createElement('div');
        sponsorElement.classList.add('sponsor');
        sponsorElement.innerHTML = `${selectedPromo}`;

        if (null !== postListContainer) {
          postListContainer.prepend(sponsorElement);
        } else {
          postContainer.appendChild(sponsorElement);
        }
      });
    </script>

  </body>
</html>
